html,body{
    min-height: 100%;
}
h1{margin: 0;}
em{font-style: normal;}
ul, li{margin: 0; padding: 0; list-style: none;}
body{
    font-family:"ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Helvetica Neue",Helvetica,Arial,"Microsoft YaHei","Hiragino Sans GB","Hiragino Sans GB W3","WenQuanYi Micro Hei",sans-serif;
    -webkit-font-smoothing:antialiased;
    font-size: 12px;
    background-color: #ecf0ef;
}
body.forConsole{
    background: url(/img/bg-left-l.png) left top repeat-y #EBEEED;
}
form{margin:0; padding: 0;}
a{color: #000;}
a:hover{cursor: pointer;}
.arr-b{
    background: url(/img/arr_b.png) no-repeat; display: inline-block; width: 19px; height: 18px;
    vertical-align: middle; 
}
.icon-qq{
    display: inline-block !important; 
    width: 15px !important; 
    height: 15px !important; 
    background: url(/img/qq.png) center center no-repeat !important; 
    vertical-align: middle !important;
}
.clearBtn{
    line-height: 34px;
    height: 34px;
    position: absolute;
    width: 26px;
    text-align: center;
    cursor: pointer;
    background: url(../img/clearBtn.png) center center no-repeat;
}
h3,h4,h5{
    font-weight: normal;
}
.dropdown-menu{
    margin-top: 0px; border-radius:0px; box-shadow: 0 2px 4px rgba(0,0,0,.175);
}
.bold{font-weight: bold; color: #000;}
.grid-no-padding{
    padding-left: 0px; padding-right: 0px;
}
.panel{
    border-radius: 0px;
    box-shadow: 0px 2px 4px #ccc;
}
.panel-heading{
    height: 78px;
}
/* style of label */
label{
    font-weight: normal;
}

.form-control:focus{box-shadow: none;}
.popover.bottom{
    border-radius: 0px;
    box-shadow: 0 2px 6px rgba(0,0,0,.2);
}
/*create dialog*/
.ui-dialog{
    z-index: 2001 !important;
    box-shadow: #555 3px 3px 15px;
}
.ui-widget-overlay{
    z-index: 2000 !important;
    background:#555 !important;
    opacity: .5 !important;
    filter: alpha(opacity=50) !important;
}
#create-dialog{
    overflow-x:hidden; 
}
.create-dialog{
    border-radius: 0; border: none;
}
.create-dialog .ui-widget-header{
    border: none; background: none;
}
#create-dialog .control-label{
    padding-right: 0; color: #828282; letter-spacing: 2px; width: 60px;
    padding-left: 15px;
}
#create-dialog .col-sm-10{
    padding-left: 15px; padding-right: 15px;
}
#create-dialog #app-type{
    margin-bottom: 20px; margin-left: 60px;
}
#create-dialog #app-type button.first{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
#create-dialog .btn{
    background-color: #f3f6f5; color: #a4a5a4; width: 70px;
}
#create-dialog .btn, #create-dialog .btn:hover{ margin-left: 0px;}
#create-dialog .btn.active{
    background-color: #5082c2; color: #fff; box-shadow: none;
}
.create-dialog .ui-dialog-buttonpane{
    border: none;
}
.create-dialog .ui-dialog-titlebar-close{
    border: none !important;
    border-radius: 0 !important;
    background: #FFF;
    right: 6px !important;
    top: 10px !important;
}
#create-dialog textarea{
    height: 80px;
}
#create-dialog .form-control{
    box-shadow: none;
}
#create-dialog .btns{
    text-align: right; margin-top: 10px;
}
#create-dialog .cancel{
    background-color: #fff; 
    color: #4F83C3; 
    border-color:#4F83C3; 
    margin-right: 20px;
}
#create-dialog .create{
    margin-right: 10px; background-color: #4c7bb5; color: #fff;
}
#create-dialog .create[disabled]{
    background-image: url(../img/btn-loading.gif);
    background-position: 50% center;
    background-repeat: no-repeat;
    text-indent: 10000em;
}
#create-dialog .word-wrapper{
    position: relative;
}
#create-dialog .word-limit{
    position: absolute; top: 7px; right: 24px; color: #989898;
    font-weight: normal;
}
#create-dialog .word-limit em{
    color: #319a39;
}
#create-dialog .word-limit em.err{
    color: #ff4f00;
}
/* table,tr,td */
.table-hover tbody tr:hover{
    background-color: #F5F5F5;
}
/*menu*/
#menu{
    margin: 0; padding: 0; border-right: 1px solid #e1e5e4; box-shadow: 1px 0px 0px #e1e5e4;
    width: 235px; background-color: #fff; font-size: 14px;
}
.logo{
    display: block; border-bottom: 1px solid #eef1f0; box-shadow: 0px 1px 2px #eef1f0;
    background: url('/img/logo.png') no-repeat 25px center; width: 235px; height: 50px; text-indent: -9999px;
}
.logoWrap{

}
#menu .overview{
    height: 50px; line-height: 50px; 
}
#menu .overview a{display: block; padding-left: 56px;}
#menu .active a, #menu .overview a:hover{
    background-color: #f7faf9;
}
.toggle-menu{
    position: absolute; top:11px; 
    left: 192px;
    display: inline-block; background: url(/img/menu.png) no-repeat; width: 27px; height: 25px;
}
#menu dl{
    margin: 0; padding: 0;
}
#menu dt{
    padding-left: 56px;
}
#menu dt{
    color: #8fb300; font-weight: normal; height: 40px; line-height: 40px; border-top:1px solid #e3e3e3;
}
#menu li{
}
#menu li a{
    height: 40px; line-height: 40px; 
    display: block; padding-left: 95px;
    background-position: 56px center;
    background-repeat: no-repeat; 
}
#menu li a:hover, #menu li.active a{
    background-color: #f7faf9; 
}
#menu li a.set{
    background-image: url(/img/set.png);
}
#menu li a.set:hover, #menu li.active a.set{
    background-image: url(/img/set-l.png);
}
#menu li a.code{
    background-image: url(/img/code.png);
}
#menu li a.code:hover, #menu li.active a.code{
    background-image: url(/img/code-l.png);
}
#menu li a.mod{
    background-image: url(/img/mod.png);
}
#menu li a.mod:hover, #menu li.active a.mod{
    background-image: url(/img/mod-l.png);
}
#menu li a.cloud{
    background-image: url(/img/cloud.png);
}
#menu li a.cloud:hover, #menu li.active a.cloud{
    background-image: url(/img/cloud-l.png);
}
#menu li a.version{
    background-image: url(/img/version.png);
}
#menu li a.version:hover, #menu li.active a.version{
    background-image: url(/img/version-l.png);
}
#menu li a.restore{
    background-image: url(/img/restore.png);
}
#menu li a.restore:hover, #menu li.active a.restore{
    background-image: url(/img/restore-l.png);
}
#menu li a.push{
    background-image: url(/img/push.png);
}
#menu li a.push:hover, #menu li.active a.push{
    background-image: url(/img/push-l.png);
}
#menu li a.im{
    background-image: url(/img/IM-11.png);
}
#menu li a.im:hover, #menu li.active a.im{
    background-image: url(/img/IM-10.png);
}
#menu li a.stat{
    background-image: url(/img/stat.png);
}
#menu li a.stat:hover, #menu li.active a.stat{
    background-image: url(/img/stat-l.png);
}
#menu li a.auth{
    background-image: url(/img/auth.png);
}
#menu li a.auth:hover, #menu li.active a.auth{
    background-image: url(/img/auth-l.png);
}
#menu li a.mcmbase{
    background-image: url(/img/mcmbase-d.png);
}
#menu li a.mcmbase:hover, #menu li.active a.mcmbase{
    background-image: url(/img/mcmbase-l.png);
}
#menu li a.mcmdata{
    background-image: url(/img/mcmdata-d.png);
}
#menu li a.mcmdata:hover, #menu li.active a.mcmdata{
    background-image: url(/img/mcmdata-l.png);
}
#menu li a.mcmdatabase{
    background-image: url(/img/mcmdatabase.png);
}
#menu li a.mcmdatabase:hover, #menu li.active a.mcmdatabase{
    background-image: url(/img/mcmdatabase-l.png);
}
#menu li a.mcmapi{
    background-image: url(/img/mcmapi-d.png);
}
#menu li a.mcmapi:hover, #menu li.active a.mcmapi{
    background-image: url(/img/mcmapi-l.png);
}
#menu li a.control{
    background-image: url(/img/control.png);
}
#menu li a.control:hover, #menu li.active a.control{
    background-image: url(/img/control-l.png);
}
#menu li a.cert{
    background-image: url(/img/cert.png);
}
#menu li a.cert:hover, #menu li.active a.cert{
    background-image: url(/img/cert-l.png);
}
#menu ul, #menu li{
    margin: 0; padding: 0; list-style: none;
}

/*shrink menu*/
#menu.shrink{
    width: 50px;
}
#menu.shrink .logo{
    display: none;
}
#menu.shrink .logoWrap{
    text-align: center;
}
#menu.shrink .toggle-menu{
    position: static; height: 44px; background-position: center center;
}
#menu.shrink .overview{
    padding-left: 0; 
}
#menu.shrink .overview a{
    display: block; text-indent: -9999px; background: url(/img/overview.png) no-repeat center center;
}
#menu.shrink .overview a:hover{
    background: #f7faf9 url(/img/overview-l.png) no-repeat center center;
    border-bottom: 1px solid #e3e3e3;
}
#menu.shrink dt{
    display: none;
}
#menu.shrink li a{
    padding-left: 0; background-position: 15px center; text-indent: -9999px;
}

/*main*/
.main{
    min-height: 740px;
    /*flex layout*/
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}
.mainWrap{
    background-color: #ecf0ef; 

    /*flex layout*/
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

/*main content*/
.wrapper{
    padding: 30px 30px 0; position: relative;
}
.section{
    background-color: #fff; height: 170px; border-right: 1px solid #e8e8e8; 
}
#loading{display: none;}

/*header*/
header.header{
    position: relative; z-index: 1002; background-color: #fff; border-bottom: 1px solid #e4e8e7;
    box-shadow: 1px 0px 3px #e4e8e7; height: 50px; padding-left: 30px;}
.submenu, .notification-menu{
    float: right;  line-height: 50px;
}
.notification-menu{
    font-size: 14px;
}
.submenu{
    font-size: 16px;
}
#appList{
    float: left; line-height: 50px;
}
#appList .AppText{
    font-size: 16px; color: #4a4a4a;
}
#getAllList{
    width: 296px; max-width: auto; padding: 20px 0 0 20px;
    font-size: 12px;  max-height: 220px !important;
}
#getAllList.wide{
    width: 312px;
}
#getAllList li{
    float: left; margin-right: 20px; margin-bottom: 20px;
}
#getAllList li a{
    width: 48px; display: block; padding: 0; text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
#getAllList>li>a:hover, #getAllList>li>a:focus{
    background-color: transparent;
}
#getAllList li a img{
    display: block; margin-bottom: 10px; width: 48px; height: 48px;
    border-radius: 9px;
}
#appList li, .notification-menu ul li{line-height: 1;}
#appList .arr-b{margin-right: 10px;}
.notification-menu{
    margin-right: 40px;
}
.notification-menu .arr-b{margin-left: 10px; display: none;}
.notification-menu .avatar{
    /*border: 1px solid #eee;*/
    border-radius: 30px;
    width: 30px;
    height: 30px;
}
.submenu{margin-right: 50px;}
.submenu a{margin-right: 40px;}

/*footer*/
footer{
    /*padding-left: 30px; */
    padding-right: 30px;
}
footer .logo{
    float: left; background-position: left center;
    margin-left: 30px;
}
footer .contact{
    float: right; height: 50px; line-height: 50px;
}
footer .contact a{
    margin-right: 2em; color: #808080;
}
/*通用按钮*/
.btn-default,.btn-default:hover,.btn-default:active{
    background-color: transparent;
}
.btn-blue{
    background-color: #4F83C3;
    color:white;
    outline: none;
}
.btn-blue:hover{
    /*background-color: #416B9E;*/
    color:white;
    outline: none;
}
.btn-blue.active,.btn-blue:active{
    background-color: #416B9E;
}
.btn-blue:focus{
    color:white;
    outline: none;
}

/* 概览页右上列表 */
.dropdown-menu-usermenu{
    padding: 0;
    /*margin-right: 29px;*/
}
.notification-menu:hover .dropdown-menu-usermenu{
    display: block;
}
.dropdown-menu-usermenu li{
    width: 176px;
    height: 50px;
    padding: 0;
    background-color: #FAFAFA;
}
.dropdown-menu-usermenu li a{
    width: 176px;
    height: 50px;
    padding: 0;
    line-height: 50px;
    /*border-bottom: 1px solid #E8E8E8;*/
    color: #9F9F9F;
}
.dropdown-menu-usermenu li a:hover{
    color: #99AC53;
    background-color: #EDEDED;
}
.dropdown-menu-usermenu #sign_out a{
    border-bottom: none;
}
.dropdown-menu-usermenu li .fa{
    width: 22px;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    display: inline-block;
    text-align: right;
    margin-left: 22px;
    margin-right: 10px;
    float: left;
}
.dropdown-menu-usermenu li .fa.icon-cog,.dropdown-menu-usermenu li .fa.icon-signout{
    font-size: 22px;
}

label.error{
    color: #f21e1e !important;
}

/* 所有select样式暂作统一 */
select{
    text-align: left;
    height: 34px;
    height: 22px\9 !important;
    margin-top: 6px\9 !important;
    font-size: 14px;
    line-height: 32px;
    border-radius: 4px;
    border: 1px solid #CCC;
    background-color: #FFF;
    color: #555;
    padding-left: 6px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    -webkit-transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
       -moz-transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
        -ms-transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
         -o-transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
            transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}
select:hover{
    background-color: #F4F6F4;
    cursor: pointer;
}
/*select:active{*/
    /*background-color: #F4F6F4;*/
    /*border-color: #66afe9*/
/*}*/
select:focus option,select:hover option{
    background-color: #FFF;
    border-color: #CCC
}
option:hover{
    background-color: #F4F6F4;
}
.err-top{
    position: fixed;
    width: 100%;
    z-index: 1055;
    top: 0;
}
#errTopMiddle{
    z-index: 1010;
    width: auto;
    left: 50%;
    margin-left: -256px;
}
.err-top.succ,.err-top.fail{
    display: block;
}

.err-top .err-close{
    width: 500px;
    height: 18px;
    display: none;
    margin: 0 auto -18px;
    background-color: #F4F4F4;
    text-align: right;
    line-height: 18px;
    display: block;
    padding-top: 10px;
}
.err-top .icon-remove{
    margin-right: 10px;
    line-height: 18px;
    height: 18px;
    cursor: pointer;
}
.err-top.fail .icon-remove{
    color: #D9626E;
}
.err-top.succ .icon-remove{
    color: #248060;
}
.err-top .err-out{
    width: 518px;
    height: 44px;
    margin: 0 auto;
    border-radius: 0 0 10px 10px;
}
.err-top.fail .err-out{
    background-color: #F7CBD0;
}
.err-top.fail .err-out i,.err-top.fail .err-out span{
    color: #D9626E;
}
.err-top.succ .err-out i,.err-top.succ .err-out span{
    color: #248060;
}
.err-top.succ .err-out{
    background-color: #6FE8BF;
}
.err-top .err-switch{
    text-align: center;
}
.err-top .err-switch-i{
    font-size: 23px;
    line-height: 46px;
    height: 46px;
    display: none;
    margin-right: 20px;
}
.err-top.succ .icon-smile,.err-top.fail .icon-frown{
    display: inline-block;
}
.err-top .err-content{
    font-size: 12px;
    line-height: 46px;
    height: 46px;
    display: inline-block;
    vertical-align: bottom;
}
#menu-shadow{
    width: 235px;
    display: inline-block;
    float: left;
    height: 50px;
    border: none;
    background-color: transparent;
    margin: 0;
    padding: 0;
    border-right: 1px solid #e1e5e4;
    box-shadow: 1px 0px 2px #e1e5e4;
    background-color: #fff;
    font-size: 14px;
}
#console #menu-shadow{
    width: 332px;
    background-color: #fff;
    border: none;
    box-shadow: none;
}
#console .footer{
    float: left;
    position: relative;
    width: 100%;
    padding-right: 30px;
}
#console .footer .logo{
    float: left;
    background-position: left center;
    margin-left: 30px;
}
#console .footer .contact {
    float: right;
    height: 50px;
    line-height: 50px;
}
#console .footer .contact a{
    margin-right: 2em;
    color: #808080;
}
#menu-shadow.shrink{
    width: 50px;
}

#create-appfrm .form-group{
    margin-bottom: 20px;
}


.glyphicon-search,.glyphicon-calendar{
    cursor: pointer;
}
span.placeholder{
    cursor: text;
    position: absolute;
    background: none;
    font-weight: normal;
    padding: 0;
    margin: 0;
    border: none;
}
input:disabled~span.placeholder{
    cursor: not-allowed;
}
.icon-question-sign {
    color: #C8C9CA;
    font-size: 16px;
    text-indent: 10px;
}
a .icon-mod,a .icon-tpl{
    width: 20px !important;
    height: 20px !important;
    display: inline-block;
    position: relative;
    line-height: 50px;
    top: 1px;
    float: none !important;
    vertical-align: text-bottom;
}
a .icon-mod{
    background: url(/img/modstore_mod_n.png) center center no-repeat !important;
}
a .icon-tpl{
    background: url(/img/tpl_store.png) center center no-repeat !important;
}
.icon-mod:hover,.icon-mod:active,a:hover .icon-mod,a:active .icon-mod{
    background: url(/img/modstore_mod_l.png) center center no-repeat !important;
}
.icon-tpl:hover,.icon-tpl:active,a:hover .icon-tpl,a:active .icon-tpl{
    background: url(/img/tpl_store_h.png) center center no-repeat !important;
}

.isLoading{
    text-align: center;
    font-size: 14px;
    color: #666666;
}
.isLoading img{
    margin-right: 10px;
    margin-left: -10px;
    width: 20px;
}
.main-applist-out .isLoading{
    line-height: 96px;
}
#visitors-container .isLoading,#myCharts .isLoading,#myCharts .isLoading{
    line-height: 300px;
}
#areaMap .isLoading{
    line-height: 500px;
}
.service-pop{
    display: none;
}
/* loveApp start*/
#loveApp{
    display: none;
}
.lovename{
    padding:30px 0;
}
#create-dialog .lovename .control-label{
    line-height: 35px;
}
#create-dialog .btn.love.active{
    background-color: #ff4f4f;
}
#create-dialog .loveinput{
    background: none;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    color:#737373;
}
#create-dialog .lovelable{
    line-height: 35px;   
}
#create-dialog .lovelable em{
    color:#ff4f4f;
}
#create-dialog .lovebtn .create{
    background-color:#ff4f4f; 
}
#create-dialog .lovebtn .btn{
    width:80px;
}
#create-dialog .lovebtn .cancel{
    background:none;
    border-color:#ff4f4f;
    color:#ff4f4f;
}
/* loveApp end*/

/*template store start*/
    #tplStore{
        display: none;
        box-shadow: none;
        margin-bottom:0;
    }
    #tplStore #tplIcon img{
        width:100%;
        display: none;
    }
    #tplStore .tpl-look{
        padding-top: 10px;
    }
    #tplStore .tpl-look a{
        color:#4f83c3;
        float: left;
    }
    #tplStore .tpl-look .tpl-more{
        float:right;
    }
/*template store end*/
#box{
    display: none;
}
/*2015-08-11 start*/
#app-sub-type{
    display: none;
    margin-left: 60px;
    margin-top: 20px;
}
#app-sub-type.active{
    display: block;
}
#app-sub-type .fake-check{
    display: inline-block;
    color: #FFFFFF;
    text-indent: 22px;
    background: url(/img/fake-check-1.png) left center no-repeat;
    margin-right: 30px;
    cursor: pointer;
}
#app-sub-type .fake-check.active{
    color: #FF504B;
    background: url(/img/fake-check-2.png) left center no-repeat;
}
.lovename{
    padding-top: 10px;
}
/*2015-08-11 end*/